!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Photo Share
    %link{:rel => "stylesheet", :href => "https://ajax.googleapis.com/ajax/libs/yui/3/build/cssreset/reset-min.css"}
    %link{:rel => "stylesheet", :href => "main.css"}

  %body
    %div#target{:draggable => "true"}
      %span drag and drop
    %iframe#main{:name => "mainframe", :src => "/app.html#v=0.01&h=browser"}
    
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js"}
    %script{:src => "porthole.min.js"}
    %script{:src => "main.js"}

